/* Features */
.features {
  text-align: center;
  padding: 70px 0;
}

.features h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  max-width: 250px;
  margin: 20px;
}

.feature-item img {
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}