/* Header */
.header-container{
  border-bottom: 2px #003366 ;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #003366 ;
}
.img_logo{
  flex: 1;
  max-width: 50%;
  text-align: left;

}
.img_logo img{
   
  max-width: 100%;
  height: auto;

}

.nav{
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav a {
  margin: 10 10px;
  text-decoration: none;
  color: #1e2a3a;
  font-weight: 500;
  font-size: 1.3rem;
}

.login-btn {
  background-color: #ff793f;
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}